
.webTheme{
    background-repeat: no-repeat;
    position: center;
    background-size: cover;
    padding: 1.5em;
}

.fill{
    flex: 1 1 auto;
  }

.exContain{
    display: flex;
    flex-direction: column;
    width: auto;
    position: center;
}

.userInput{
    margin: 1em;
}

//   //=== Button styling, semi-ignore
  .btn {
    background-color: lightseagreen;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em;
    letter-spacing: 0.05rem;
    
    &:focus { outline: 2px dotted #55d7dc; }
  }
  
//   //=== Pen styling, ignore
  body { 
    padding: 10px;
    background: #1f1a25;
    display: flex; 
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

.radioinlinewrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.radio{
    display: flex;
    align-items: center;
    justify-content: center;

}

.lab{
    display: flex;
    align-items: center;
    justify-content: center;
    font: 700 1.5rem 'Roboto Slab', sans-serif;
    padding-top: 20px;
    
}

.jumbotron{
    padding: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 10;
}


.returnbtnn{
    margin: 1em;
    //display:block;
    //background-color: maroon;
    color: rgb(37, 36, 36);
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em;
    letter-spacing: 0.05rem;
    //border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 1.5;
    display:inline-block;
    background-color: lightgreen;
}

.reportbtnn{
    margin: 1em;
    //display:block;
    //background-color: maroon;
    color: rgb(37, 36, 36);
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em;
    letter-spacing: 0.05rem;
    //border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 1.5;
    display:inline-block;
    background-color: rgb(197, 57, 197);
}


.newC{
    text-align: center;
}

.map_btnn{
    margin: auto;
    //display:block;
    //background-color: maroon;
    color: black;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em;
    letter-spacing: 0.05rem;
    //border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 1.5;
    display:inline-block;
}

.newbtn{
    margin: auto;
    display:block;
    background-color: maroon;
    color: white;
}

.wrapper {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.wrapper2{
    text-align: center;
}

.wrapper3{
    text-align: center;
}

.p{
    margin: 50px;
}

.hello{
    text-align: center;
    margin: auto;
}

.h4c{
    margin-top:30px;
    margin-bottom: 0;
}

.radiospace{
    margin: 1em;
}

.rbutton{
    //margin: auto;
    display:block;
    background-color: maroon;
    color: white;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 2em;
    letter-spacing: 0.05rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 1.5;
}
.button a {
    margin-right: 8px;
  }

.text{
    margin: 1em;
}

table {
    width: 100%;
  }
  
.mat-form-fieldf {
    font-size: 14px;
    width: 100%;
}

.spacer{
    padding-top: 5%;
}